<!DOCTYPE html>
<html>
  <style>
    .title-tiny{
      font-size: 15px;
      font-weight: bold;
    }
    .address{
      position:relative;
      width: 50%;
      float:left
    }
    .address p:not(:first-child){
      margin: 5px 0 5px 0;
    }
    .item-container div p{
      margin: 1px 0 1px 0;
    }
    .item-container div:not(:first-child) p{
      margin-bottom: 50px;
    }
  </style>
  <head>
    <meta charset="utf-8" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet"> <!-- fits better but converting to pdf turns it into italic-->
  </head>
  <body  style="font-family:'Roboto','Inter','sans-serif'; color: #0e3650; font-size: 19px;">
    
    <div style = "width:100%;">
      <img  style = "display: block; margin-left: auto; margin-right: auto;" src="data:image/png;base64,{{logo}}" alt="logo">
      
      <p style="font-size: 40px;">Danke {{order.buyer.firstName}},<br /> für deine Bestellung!</p>
      <p style="font-size: 34px;">Hiermit bestätigen wir deine Bestellung bei <strong>beeanco</strong>. Bitte überprüfe noch einmal unten aufgelistet deine bestellten Artikel und deine angegebene Lieferadresse.</p>
    </div>
    <div style="width: 100%;">
      <div class = "address">
        <p class="title-tiny">Angegebene Lieferadresse</p>
        {{#with order.shippingAddress}}
          <p>{{name}}</p>
          <p>{{address1}}</p>
          <p>{{address2}}</p> 
          <p>{{countryCode}}-{{zip}} {{city}} </p>
        {{/with}}

      </div>
      <div class = "address">
        <p class = "title-tiny">Angegebene Rechnungsadresse</p>
        {{#with order.billingAddress}}
          <p>{{name}}</p>
          <p>{{address1}}</p>
          <p>{{address2}}</p>
          <p>{{countryCode}}-{{zip}} {{city}} </p>
        {{/with}}
      </div>
    </div>
    <div style="width: 100%;clear:left;">
      <div class = "title-tiny" style="position:relative;width: 40%;float:left"><p>Bestellter Artikel</p></div>
      <div class = "title-tiny" style="position:relative;width: 20%;float:left"><p>Artikelnummer</p></div>
      <div class = "title-tiny" style="position:relative;width: 20%;float:left"><p style="text-align: center;">Menge</p></div>
      <div class = "title-tiny" style="position:relative;width: 20%;float:left"><p style="text-align: center;">Preis</p></div>
    </div>
    {{#each order.items}}
      <div class="item-container" style="width: 100%;clear:left;">
        <div style="width: 100%;float:left;font-weight: bold;color: #293447;">
          <p>{{this.product.vendor.name}}</p>
        </div>
        <div style="width: 40%;float:left">
          <p>{{this.product.name}}</p>
        </div>
        <div style="width: 20%;float:left; ">
          <p style="text-align: center;">#{{this.product.sku}}</p> 
        </div>
        <div style="width: 20%;float:left">
          <p style="text-align: center;">{{this.quantity}}</p> 
        </div>
        <div style="width: 20%;float:left">
          <p style="text-align: center;">{{this.price}}</p>
        </div>
        <br />
      </div>
    {{/each}}
    </body>
  </html>